.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.root {
  background: rgb(230, 196, 217);
  min-height: 100vh;
  font-family: "Lucida Console" bold, "Courier New", monospace;
}

.card {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 35px;
  margin: 35px;
  margin-bottom: 40px;
  box-shadow: 10px 15px 10px 10px rgba(255, 0, 0, 0.2);
  display: flex;
  width: 300px;
  height: auto;
  background: linear-gradient(
    to right,
    rgba(0, 195, 255, 0.32),
    rgba(0, 255, 0, 0.16)
  );
}

.card:hover {
  box-shadow: 10px 15px 10px 10px rgb(254, 140, 140);
  transform: scale(1.2);
}

.card img {
  width: 320px;
  height: 370px;
  object-fit: cover;
  border-radius: 10px;
  margin: auto;
}

.nombreClub {
  color: black;
  font-size: 55px;
  font-weight: bold;
  font-family: "Lucida Console" bold, "Courier New", monospace;
}

.descripcionClub {
  font-size: 35px;
  color: rgb(67, 67, 67);
  font-weight: bold;
  align-items: center;
  text-align: center;
  font-family: "Lucida Console" bold, "Courier New", monospace;
}

p {
  font-size: 29px;
  color: rgb(67, 67, 67);
  font-weight: bold;
  align-items: center;
  text-align: center;
  font-family: "Lucida Console" bold, "Courier New", monospace;
}

.joinButton {
  display: block;
  width: 200px;
  height: 50px;
  margin: 20px auto;
  background-color: #d1f2f7;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
  margin-bottom: 20px;
}

.joinButton:hover {
  background: white;
  transform: scale(1.2);
}

.leaveButton {
  display: block;
  width: 200px;
  height: 50px;
  margin: 20px auto;
  background-color: #d1f2f7;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
  margin-bottom: 20px;
}

.leaveButton:hover {
  background: white;
  transform: scale(1.2);
}
