.root {
  background: linear-gradient(to bottom,  rgb(90, 84, 84), rgb(255, 156, 156));
  min-height: 100vh;
  padding: 20px;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.card {
  border: 3px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  margin: 15px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  display: flex;
  width: auto; 
  height: auto; 
  background: linear-gradient(to right, rgb(170, 220, 255), rgb(170, 254, 170));
}

.card img {
  width: 320px; 
  height: 370px; 
  object-fit: cover;
  border-radius: 10px;
  margin: auto;
}

.nombreClub {
  font-size: 55px; 
  font-weight: bold;
}

.descripcionClub {
  font-size: 25px; 
  font-weight: bold;
  align-items: center;
  text-align: center;
}

p{
  font-size: 18px; 
  font-weight: bold;
  align-items: center;
  text-align: center;
}

.joinButton {
  display: block;
  width: 200px;
  height: 50px;
  margin: 20px auto;
  background-color: #90ff58;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

.joinButton:hover {
  background: linear-gradient(to right, rgb(170, 220, 255), rgb(170, 254, 170));
}