.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 35px;
  margin: 35px;
  margin-bottom: 40px;
  box-shadow: 10px 15px 10px 10px rgba(255, 0, 0, 0.2);
  display: flex;
  width: 300px;
  height: auto;
  background: linear-gradient(
    to right,
    rgba(0, 195, 255, 0.32),
    rgba(0, 255, 0, 0.16)
  );
}

.card:hover {
  box-shadow: 10px 15px 10px 10px rgb(254, 140, 140);
  transform: scale(1.2);
}

.card img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-right: 15px;
}

.titulo {
  font-size: 5px;
  font-weight: bold;
  font-family: "Lucida Console" bold, "Courier New", monospace;
}

.genero,
.descripcion {
  font-size: 20px;
}

.root {
  background: rgb(230, 196, 217);
  min-height: 100vh;
  font-family: "Lucida Console" bold, "Courier New", monospace;
}

.search {
  width: 40%;
  padding: 8px;
  font-size: 1.5em;
  font-family: "Lucida Console" bold, "Courier New", monospace;
  margin: 20px auto 0;
  display: block;
  border-radius: 15px;
  border-width: 20px, solid;
  border-color: rgb(255, 0, 0);
  padding-left: 20px;
}

.nombre {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  font-family: "Lucida Console" bold, "Courier New", monospace;
}

.descripcion {
  font-size: 20px;
  padding-top: 10px;
  text-align: center;
  font-family: "Lucida Console" bold, "Courier New", monospace;
}
